// color scheme
$borderColorGray: #f1f1f1;
$backgroundColorGray: #eeeeee;
$alphaBlack: rgba(0,0,0,0.5);
$textColor: #262626;

//layout utilities
$itemMargin: 15px;

//other utilities
$itemRadius: 8px;
$transition: all 200ms;